<body>
  <div class="container">
    <h1>Hello there! I'm Sujit Sharma,<br> your friendly neighborhood full-stack developer, and I've got something
      awesome in the works – my very own portfolio site!</h1>
    <h2>The countdown begins! 🚀✨</h2>
    <div id="countdown">
      <div>
        <span id="days">{{days}}</span>
        <div>days</div>
      </div>
      <div>
        <span id="hours">{{hours}}</span>
        <div>hours</div>
      </div>
      <div>
        <span id="minutes">{{minutes}}</span>
        <div>minutes</div>
      </div>
      <div>
        <span id="seconds">{{seconds}}</span>
        <div>seconds</div>
      </div>
    </div>
  </div>
</body>